.backgroundColor1{
    -fx-background-color: linear-gradient(#FFE4C4,#FFEFD5);
}
.backgroundColorAndBorderColor{
    -fx-background-color: #FFFAF0;
    -fx-border-color:  #1d3557;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}
.borderColor{
    -fx-border-color: #1d3557;
}
.backgroundColorStatus{
    -fx-background-color: #bbbaba;
}
.backgroundColorLightBrownButton{
    -fx-background-color: #C9AD88;
}
.backgroundColor2{
    -fx-background-color: linear-gradient(#FEEBD3, #FFF1DE);
}
.backgroundColor3{
    -fx-background-color: linear-gradient(#FFE0B8, #FFF1DE);
}
.backgroundColor4{
    -fx-background-color: #FFE0B8;
}
.backgroundColorInHeadPages{
    -fx-background-color: #ffe6c9;
}
.radius{
    -fx-border-radius: 5;
}
.backgroundColorOrange{
    -fx-background-color: #F99F28;
}
.backgroundColor{
    -fx-background-color: #FFFAF0;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.toggle-button {
    -fx-color: #ffffff;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
}

.toggle-button:selected {
    -fx-background-color:
            -fx-shadow-highlight-color,
            linear-gradient(to bottom, -fx-color 0%, -fx-color 0%),
            linear-gradient(to bottom, -fx-color 0%,-fx-color 0%, -fx-color 0%, -fx-color 0%);
    -fx-background-radius: 15;
    -fx-border-radius: 15;
}

.toggle-button:selected:focused {
    -fx-background-color:
            -fx-focus-color,
            linear-gradient(to bottom, -fx-color 0%, -fx-color 0%),
            linear-gradient(to bottom, -fx-color 0%,-fx-color 0%, -fx-color 0%, -fx-color 0%);
    -fx-background-radius: 15;
    -fx-border-radius: 15;
}