
.bg-navbar-color{
    -fx-background-color: #A24D39;
}

.bg-navbar-button-color{
    -fx-background-color: #A24D39;
}

.bg-navbar-button-color:hover{
    -fx-background-color: #ffffff;
}

.bg-color{
    -fx-background-color: #E7DFCE;
}

.bg-button-color{
    -fx-background-color: #A24D39;
}

.font_jasmine_18pt {
    -fx-font-family: 'JasmineUPC';
    -fx-font-size: 18pt;
}

.font_jasmine_20pt {
    -fx-font-family: 'JasmineUPC';
    -fx-font-size: 20pt;
}

.font_jasmine_25pt {
    -fx-font-family: 'JasmineUPC';
    -fx-font-size: 25pt;
}

.font_jasmine_30pt {
    -fx-font-family: 'JasmineUPC';
    -fx-font-size: 30pt;
}

.bg-arrow-color{
    -fx-background-color: #3956A2;
}

.bg-button-color-blue{
    -fx-background-color: #3956A2;
}

.bg-radius_20{
    -fx-background-radius: 20;
}

.combobox_style{
    -fx-background-color: #ffffff;
    -fx-border-color:  #6b6b6b;
    -fx-border-radius: 5;
}

